antiorm==1.2.1
asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
db==0.1.1
db-sqlite3==0.0.1
distlib==0.3.4
Django==4.0.4
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
numpy==1.22.3
pandas==1.4.2
patsy==0.5.2
Pillow==9.1.0
pipenv==2022.4.21
platformdirs==2.5.1
plotly==5.7.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyparsing==3.0.8
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
requests==2.27.1
scipy==1.8.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tenacity==8.0.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
