<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Mike's Shortner </title>
</head>

<header>
    <h1><a href="/"> Mike's URL Shortner</a></h1>

</header>

<body>
    <div>
        <form id="post-form" action="create" method="POST">
            {% csrf_token %}
            <input type="url" size="50" name="link" id="link" value="http://">
            <button type="submit" id="shorten">Encurte!</button>
        </form>
        <h2>{{ request.META.HTTP_HOST }}/{{new_url}}</h2>
    </div>
</body>

</html>
